{% extends 'navbar.html' %}
{% block main %}

<h1>Ecommerce products</h1>
<div class="p-5" style="display: block;">
    {% for i in products %}
    <div class="border border-3 mt-5 shadow rounded row" style="display: block;">
        <h4 style="position: relative;">{{i.title}}</h4>
       <div class="col-8">
        <div class="col-4">
        
            <img src="{{i.image.url}}" alt="" style="width: 75%;">
        </div>
     
        <h5 style="position: absolute;">{{i.description}}</h5>
        
       </div>
       <div class="text-center border border-3 mt-5 ">
        
       
        <h6>RS:{{i.price}}</h6>
       </div>
       <a href="{% url 'det' i.id %}" class="btn btn-info" style="background-color: rgb(2, 82, 15);">View </a>

    
    </div>
    {% endfor %}
</div>






{% endblock main %}